html  {
min-height: 100%;
overflow-y: scroll;
}
body  {
background: url(/static/back.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 100%;
min-height: 100%;
overflow: hidden
}
div#sl{
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
filter: alpha(opacity=70);  /* IE 5-7 */
-moz-opacity: 0.7;          /* Netscape */
-khtml-opacity: 0.7;        /* Safari 1.x */
/*opacity: 0.7;   */            /* Good browsers */
width: 80%;
margin: 0 auto;
}
p{
  word-break: break-all;
}
div#well{
  width: 80%;
  opacity: 0.7;
}
a{
  word-break: break-all;
  color:#B0B0B0;
}
.btn-wrap-text {
   white-space: normal !important;
   word-wrap: break-word !important;
}
